/* Waybar Gruvbox Dark Theme */
* {
  font-family: "Dejavu Sans", "M+1Code Nerd Font Propo";
  font-size: 13px;
}

window#waybar {
  background-color: #282828;
  color: #ebdbb2;
  border: 0px solid #504945;
  border-radius: 0px;
}

#cava.silent {
  color: #282828;
}

#cava,
#tray,
#workspaces,
#window,
#mpris,
#clock,
#idle_inhibitor,
#battery,
#backlight,
#cpu,
#memory,
#network,
#wireplumber {
  margin-left: 4px;
  margin-right: 4px;
  padding-right: 2px;
  padding-left: 2px;
}

window#waybar.empty #window {
  background-color: transparent;
  border: none;
}

#workspaces button,
#workspaces button.active {
  color: #ebdbb2;
  padding: 0px;
}

#workspaces button.focused {
  color: #8ec07c;
}

#workspaces button.urgent {
  color: #fb4934;
}

tooltip {
  background: #282828;
  font-size: 10px;
  border: 1px solid #504945;
  border-radius: 0px;
}

tooltip label {
  color: #ebdbb2;
}

/* Colores específicos por módulo */
#battery {
  color: #b8bb26;
  padding-right: 4px;
  padding-left: 4px;
}

#battery.charging {
  color: #8ec07c;
  padding-right: 4px;
  padding-left: 4px;
}

#battery.warning:not(.charging) {
  color: #fabd2f;
  padding-right: 4px;
  padding-left: 4px;
}

#battery.critical:not(.charging) {
  color: #fb4934;
  padding-right: 4px;
  padding-left: 4px;
}

#backlight {
  color: #d79921;
}

#network {
  color: #83a598;
}

#network.disconnected {
  color: #fb4934;
}

#wireplumber {
  color: #fe8019;
}

#wireplumber.muted {
  color: #928374;
}

#clock {
  color: #fabd2f;
}

#idle_inhibitor {
  color: #ebdbb2;
}

#idle_inhibitor.activated {
  color: #8ec07c;
}

#mpris {
  color: #d3869b;
}

#tray {
  color: #ebdbb2;
}

#bluetooth {
  color: #83a598;
  padding-right: 5px;
  padding-left: 5px;
}

#bluetooth.disabled {
  color: #928374;
  padding-right: 5px;
  padding-left: 5px;
}
